*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
   
}


.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./patronum.mp4);
    background-position: center;
    background-size: cover;
    position: absolute;
    margin-top: 50px;
}
    /* background: url("./hogwarts-castle.avif") no-repeat;
    background-size: cover;
    background-position: center;
    animation: animateBg 5s linear infinite;
}

@keyframes animateBg {
    100% {
        filter: hue-rotate(360deg);
    }
} */

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px;
}  

@media (max-width: 1000px){
   section{
    padding: 100px 50px;
   } 
}

@media (max-width: 600px){
    section{
     padding: 125px 30px;
    } 
 }  

.box h1{
    font-size: 35px;
    margin-bottom: 0px;
    font-family: "Harry Potter";
    padding-left: 20px;
    margin-top: 0;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
}

 

 .box video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: (to right, #fff, #90e0ef);;
    padding: 5px;
    overflow: hidden;
    /* opacity: 0.85; */
    color: #fff;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 5px 1px #fff;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #fff, #90e0ef);;
    border-radius: 30px;
    transition: .5s;
}

.social-icons{
    margin: 30px auto;
    text-align: center;

}

.social-icons img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 5px 0 #fff;
    cursor: pointer;
    border-radius: 50%;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
  /* color: #fff; */
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    color: #fff;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #fff, #90e0ef);
    border: 0;
    outline: none;
    border-radius: 30px;
    color: black;
    box-shadow: 0 0 5px 0 #fff;
}

.chech-box{
    margin: 30px 10px 30px 0;
}

span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login{
    left: 50px;
}

#register{
    left: 450px;
}

footer{
    background-color: transparent;
}

.footerContainer{
    width: 100%;
    padding: 0px 0px 0px;
    background-color: transparent;
}

.socialIcons{
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.socialIcons a{
    text-decoration: none;
    padding: 0px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
