@import url('https://fonts.googleapis.com/css?family=poppins:400,500,600,700&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    background-size: cover;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(cat.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}


nav{
    background: transparent;
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
}

/* .header{
    max-width: 100%;
    max-height: 100%;
} */

.icon{
    width: 120px;
    float: left;
    height: 200px;
    margin-top: 30px;
    margin-left: 0px;

}

.logo{
    color: #fff;
    font-size: 30px;
    font-family: 'Harry Potter';
    padding-left: 20px;
    float: left;
    padding-top: 20px;
    padding-left: 0px;
    margin-left: 0px;


}
/* nav .logo{
    color: white;
    font-size: 45px;
    font-weight: 450;
    font-family: 'Harry Potter';
    margin-left: 0px;

} */

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0 5px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-family: 'Harry Potter';
    margin-left: 50px;
}


    nav ul li a:hover,
    nav ul li a.active {
    color: #d3a625;
    background: none;
}

nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

#click{
    display: none;
}

@media (max-width: 940px){
    nav .menu-btn i{
        display: block;
    }
    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }

    #click:checked ~ ul{
        left: 0%;
    }

    nav ul li{
        margin: 40px 0;
    }
    nav ul li a{
        font-size: 20px;
        display: block;
    }
    nav ul li a:hover,
    nav ul li a.active {
    color: #d3a625;
    background: none;
    }
}

.content .par{
    font-family: 'Times New Roman';
    padding-left: 20px;
    padding-bottom: 25px;
    letter-spacing: 1.2px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 70px;
    padding-left: 20px;
    margin-top: 3%;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    
}

.mydiv .cn{
    width: 300px;
    height: 40px;
    background: #d3a625;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    text-align: center;
}

.mydiv .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
    text-align: center;
    font-family: 'Harry Potter';
}

.cn:hover{
    background-color: #fff;
}


footer{
    background-color: transparent;
}

.footerContainer{
    width: 100%;
    padding: 0px 0px 0px;
    background-color: #000;
}

.socialIcons{
    display: flex;
    justify-content: center;
    font-size: 10px;
}

.socialIcons a{
    text-decoration: none;
    padding: 0px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerBottom{
    background-color: #000;
    padding: 2px;
    text-align: center;
    font-size: 10px;
}

.footerBottom p{
    color: white;

}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
/* .content span{
    color
} */


